negotiated Hold Time interval

Section "KEEPALIVE Message Format" says in part, "If the negotiated Hold Time interval is zero, then periodic KEEPALIVE messages MUST NOT be sent."

There is no negotiation in BGP, in the normal sense. OPENs are exchanged, that's it. This should be rewritten, I'm just not sure exactly how so capturing it here.

We have an allergy brought on by the capabilities feature to the word "negotiated".  However, I think in this circumstance, negotiated is correct.

Similar to capabilities, both sides of a bgp session make their bid for a holdtime.  The algorithm says how we have come to an agreement based on the inputs.  "Arrive at a settlement" is one of the valid definitions for negotiate.

As a further IETF example, BFD in RFC 5880 §6.8.2 also uses the term negotiation when each side unilaterally makes their time bids.