IANA considerations, drop "early allocation" mention

Per private communication with IANA, they would prefer we refrain from explicitly mentioning early allocation since it's already implicit. To quote my email to them,

> as I work on rfc4271bis, I notice we have a lot of stuff like,
> 
> "Future
> assignments are to be made using either the Standards Action process
> defined in {{RFC8126}}, or the Early IANA Allocation process defined
> in
> {{RFC4020}}.”
> 
> My take on language like this has generally been that Early Allocation
> doesn’t have to be mentioned because it’s not an either/or, Early
> Allocation applies to Standards Action whether we say so or not. So I
> would rewrite as,
> 
> "Future
> assignments are to be made using the Standards Action process
> defined in {{RFC8126}}.”
> 
> Do you folks have any preference between these two formulations? As
> far as I can tell, they’re logically equivalent.

to which David @ IANA replied,

> We would prefer the second option; as you stated the RFC 7120 Early Allocation process is applies to all Standards Action registries. It should not be listed in the registration procedures for the registries here.
