RFC 4760 makes the NEXT_HOP attribute non-mandatory in some cases.

Section 3 of RFC 4670:
"If the UPDATE message contains no NLRI, the NEXT_HOP attribute should not be attached."
Various newer documents update the behaviors defined in RFC 4271.
Whether to describe the new or old behaviors(with a reference to the newer document) in the -bis version may need to be discussed.