Implementation Recommendations appendix is no longer needed

The Implementation Recommendations appendix is no longer needed. Perhaps in the future someone will want to write a 'best practices for BGP implementations' document with current recommendations, in which case, great, but it doesn't need to be part of this spec.

Details for each subsection are below.

## Appendix F.1.  Multiple Networks Per Message:

The general need for good packing is well-known at this point and probably doesn't need to be stated. If we really wanted to say something, it could be kept short, as in

"An implementation of BGP should strive to include as many NLRI as possible in a single UPDATE message. The primary motivation is processing efficiency, especially for the receiver, although there are other benefits, such as reduction of bandwidth consumption (vs. the practice of sending a separate UPDATE message for each NLRI)."

If we were going to do that, I'd suggest putting it in the main body and not an appendix. 

(Apart from that, F.1 also appears to be very specific to one particular implementation.)

## Appendix F.2.  Reducing Route Flapping:

The behavior recommended in this section is now illegal. RFC 7606, Section 5.1, bullet 2, is the relevant reference.

## Appendix F.3.  Path Attribute Ordering

This section was always wrong; Section 5 mandates (with a SHOULD) ordering path attributes, so it was never "entirely optional". Given that it's already a SHOULD, the discussion here is superfluous.

## Appendix F.4.  AS_SET Sorting

AS_SETs are deprecated.

## Appendix F.5.  Control Over Version Negotiation

BGP-3 is a dead letter, and we don't know what to say about BGP-5 yet.

## Appendix F.6.  Complex AS_PATH Aggregation
    
AFAIK it's not implemented and more importantly, AS_SETs are deprecated.
