RFC5082 - TTL Security

I have it in my head that either RFC1771 or RFC4271 specify the use of TTL 1 by default, but now that I scanned the bis document, I couldn't find it. I would still like to propose making the use of TTL (or hop count) 255 as the default for sent packets.

My operational experience has been that sending at TTL 255 is compatible with "legacy" peers, GTSM peers and IBGP peers, all alike. And migrating a peer from non-GTSM to GTSM is easy when one end can configure the sending TTL and the accepting TTL separately. In otherwords, I don't anticipate operational issues from this change, because GTSM peers are the only ones that care about received TTL values.

The security mechanism from RFC5082 would then be reduced to toggling whether the EBGP speaker accepts incoming packets with TTL<255 or not. (Well maybe this is a bit of a simplification.)

Whether the whole of RFC5082 should be incorporated into the bis document is another matter. Multihop EBGP and GTSM will always have a troubled relationship anyway.