IANA review dated 30 October 2025

https://mailarchive.ietf.org/arch/msg/idr/N0tKzuPXU_GSM5dhREIWN06ESgo/ says in part,

> 1) References to RFC 4020 should be replaced with references to RFC 7120. (For what it’s worth, draft-baber-ianabis-rfc7120bis should proceed to IANABIS WGLC soon.)
> 
> 2) RFC 7313 changed the name of the “BGP Error Codes” registry to “BGP Error (Notification) Codes.”
> 
> 3) “Error Subcodes” is listed at https://www.iana.org/assignments/bgp-parameters as “BGP Error Subcodes.” I can’t locate the source of this change, but we generally recommend keeping the “<protocol name> <registry name>” naming pattern.
> 
> 4) The IPFIX registries include multiple references to RFC 4271:
> 
> https://www.iana.org/assignments/ipfix
> 
> Most of these appear in description fields, but there's also one in a IPFIX MPLS label type (Value 46) registration made by RFC 5102. (This was originally housed in a table in the description field for IPFIX Information Element 46, but the table was turned into a subregistry.) If it's correct to replace those references, please add a sentence like "IANA will replace all references to RFC 4271 in the IP Flow Information Export (IPFIX) Entities registry group at https://www.iana.org/assignments/ipfix with references to this document."
> 