Use "IPv4 address" instead of "IP address" throughout

https://mailarchive.ietf.org/arch/msg/idr/VoGsfkFwC_meO6QYosQwnpTLNVU/

1)       In section 3, the draft keeps the description about the term "IP address" as it was in RFC 4271:

"In the context of this document, the term "IP address" refers to an IP Version 4 address [RFC791]."

Since IPv6 has been widely deployed these years, it seems it would clearer for the bis to use "IPv4 address" throughout this document. And some text may be added to refer to RFC2545 for the support of IPv6.
