RFC8654 - Extended Message Sizes 

This change to allow BGP Messages to be 65,535 octets.  It has mechanism changes unique to capability, and changes to RFC4271. 

> 6.  Changes to RFC 4271
> 
>    [RFC4271] states "The value of the Length field MUST always be at
>    least 19 and no greater than 4096."  This document changes the latter
>    number to 65,535 for all messages except for OPEN and KEEPALIVE
>    messages.
> 
>    Section 6.1 of [RFC4271] specifies raising an error if the length of
>    a message is over 4,096 octets.  For all messages except for OPEN and
>    KEEPALIVE messages, if the receiver has advertised the BGP Extended
>    Message Capability, this document raises that limit to 65,535.
