Remove old "Comparison with" appendices

RFC 4271 includes appendices:

   Appendix A.  Comparison with RFC 1771 .............................92
   Appendix B.  Comparison with RFC 1267 .............................93
   Appendix C.  Comparison with RFC 1163 .............................93
   Appendix D.  Comparison with RFC 1105 .............................94

I don't see why we need to drag a complete changelog back to the beginning of time along in this document. Apart from needlessly inflating the page count, it requires a bunch of references that are otherwise not required. Readers wanting to know the older history can always go look at RFC 4271.

It does seem valuable to have an appendix comparing the present spec to RFC 4271. 