RFC7607 - AS 0 Processing 

### AS0 Behavior from RFC7607
**2.  Behavior**

> 
>    A BGP speaker MUST NOT originate or propagate a route with an AS
>    number of zero in the AS_PATH, AS4_PATH, AGGREGATOR, or
>    AS4_AGGREGATOR attributes.
> 
>    An UPDATE message that contains the AS number of zero in the AS_PATH
>    or AGGREGATOR attribute MUST be considered as malformed and be
>    handled by the procedures specified in [RFC7606].
> 
>    An UPDATE message that contains the AS number of zero in the AS4_PATH
>    or AS4_AGGREGATOR attribute MUST be considered as malformed and be
>    handled by the procedures specified in [RFC6793].
> 
>    If a BGP speaker receives zero as the peer AS in an OPEN message, it
>    MUST abort the connection and send a NOTIFICATION with Error Code
>    "OPEN Message Error" and subcode "Bad Peer AS" (see Section 6 of
>    [RFC4271]).  A router MUST NOT initiate a connection claiming to be
>    AS 0.
> 
>    Authors of future protocol extensions that carry the Autonomous
>    System number are encouraged to keep in mind that AS 0 is reserved
>    and to provide clear direction on how to handle AS 0.